{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
{% endblock %}
{% block body %}
<div class="wrapper">
    <header>

    <img class="s1" src ="assets/images/12.webp" >
    {# <img class="s2" src ="assets/images/13.jpg" > #}
    <section class="titre"  class="fixed">
    hey page 2
    </section>
</header>
<section class="s3" >
    hey page 3
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ex quae perferendis aspernatur mollitia quod totam cupiditate voluptatem ipsa, alias impedit nisi iusto ab distinctio sequi, nobis est rem minus!
</section>
</div>
{% endblock body %}