body{
    background-color: #fffff2;
}
.back,.im{
    height: 2000px ;
    width: 2000px;
    border-radius: 100%;
    position:fixed;
    top: -1550px;
    right: -300px;
}
.back1,.im1{
    height: 400px ;
    width: 430px;
    border-radius: 100%;
    position:fixed;
    top:-200px;
    left:-100px;
}
span{
    color: red;
}
.im1{
    background-color: #6c4b787e;
}
.imageB{
    z-index: -1;
}
.im{
    background-color: #6c4b787e;
}
.log{
    z-index: 1;
    border-radius: 25px;
    border:1px solid rgba(0, 0, 0, 0.315);
    height:70% ;
    width:70% ;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.315) ;
    margin-left: 200px;
    margin-top: 120px;
    position: fixed;
    background-color: #fffff2;

    
}
.btn{
    margin-left: 300px;
    border:1px solid rgba(0, 0, 0, 0.315) ;
    border-radius: 25px;
    width: 300px;
    height: 30px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btn1{
    background-color: transparent;
    border-color:transparent ;
    font-size: 18px;
    cursor: pointer;
}
.active{
    border-radius: 100px;
    background-color:#9669A6 ;
    color: #FFFFFF;
    

}
.nonactive{
    color: #9669A6;
}
.footimg{
    position: fixed;
    bottom: 0px;
    right: 20px;
    width: 250px;
    height: 150px;
}
.frm{
    margin-top: 50px;
}
.frm input{
    width: 500px;
    height: 50px;
    border: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}
.mdpoubli{
    font-size: 15px;
    position: relative;
    left: 170px;
}
.btnlog{
    width: 190px;
    height: 55px;
    margin-top: 40px;
    border-radius: 25px;
    background-color: #9669A6;
    color: #FFFFFF;
    border-color: #9669A6;
}
.nonvis{
    visibility: hidden;
}
.frm1{
    margin-top: -270px;
   

}
.m{
    width: 500px;
    height: 30px;
    border-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}
.m1{
    width: 240px;
    
}
.m2{
    height: 30px;
}
.btncap{
    height: 30px;
    width: 30px;
    background-color: #9669A6;
    color: #fffff2;
    border: 2px solid #0000 ;
    margin-left: -5px;
}
.captcha{
    text-align: center;
    align-items: center;
    padding-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    text-decoration:line-through;
    font-style: italic;
    font-size: x-large;
}
.in{
    margin-top: 20px;
}
.capt{
    width: 500px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cont{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.nav{
    background-color: #9669A6;
    height: 100%;
}
.navv{
    margin-top: 300px;
}
.navv a{
    width: fit-content;
    height: 60px;
    text-decoration: none;
    border: 2px solid #0000;
    color: #9669A6;
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}
header{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100% ;
    transform-style: preserve-3d;
    z-index:-1; 
} 
.s1  {
    position:absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index:-1;
   
}
/* .s2{
    transform: translateZ(-5px) scale(1.5);
} */
.s1{
    transform: translateZ(-10px) scale(2);
}
.titre{color:red;
text-shadow: 0 0 5px black;}
.s3{
    background-color: black;
    color:white;
}
p{position:absolute;
    color:red;
    transform: translate(-50%,-50%);
    width: 40px;
    animation:animate 2s steps(15);
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 400px;
    font-size: 60px;
}
@keyframes animate{
    0%{width: 0%;}
    100%{width:400px ;}
}