
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
       
       <!-- feuilles de styles-->
       <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
       <!--fontawesome-->
        <script src="https://kit.fontawesome.com/450c9bb9e7.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap" rel="stylesheet">

      
       {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{asset('assets/css/main.css')}}">
        <!-- fichier js -->
        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}} " defer></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        
          
        {% block nav %} 
        {% include "nav.html.twig" %}
        {% endblock %}
          
        {% block body %}{% endblock %}
        {% include "footer.html.twig" %}

    </body>
</html>
