<footer>
        
    <div id="ft">
        <div>
            <h2>Notre Platform</h2>
            <h5>contactez-nous</h5>
            <h5>A propos</h5>
         
        </div>
        <div>
            <h2>Informations legales</h2>
            <h5>participation</h5>
            <h5>A propos</h5>
            
        </div>
        <div>
            <h2>Votre compte</h2>
            <h5>Informations perso</h5>
            
            <h5>Adresses</h5>
        </div>
        
    </div>
    <div id="contact">
        <i class="fa-brands fa-facebook"  id="first-icon"></i>
        <i class="fa-brands fa-twitter" id="second-icon" ></i>
        
        <i class="fa-brands fa-linkedin" id="fourth-icon"></i>
        <i class="fa-brands fa-instagram" id="fifth-icon"></i>
        <i class="fa-solid fa-envelope" id="sixth-icon"></i>
    </div>
</footer>