<nav> 
    <span>logo</span> 
     <ul>
         <li><a href="#">Accueil</a></li>
         <li><a href="">Formation<br> universitaire</a></li>   
         <li><a href="">Formations<br> supplémentaires</a></li>
         <li><a href="">nouveautés<br> des clubs</a></li>       
     </ul>
     <div class="nav-buttons">
         <button><i id="s-icon" class="fa-solid fa-user"></i><a href={{path('login')}}>Sign Up</a></button>
         <button><i id="s-icon" class="fa-solid fa-user"></i><a href={{path('login')}}>login</a></button>
 
     </div>
   </nav>
