<nav> 
    <ul>
        <li><a href="#">Acceuil</a></li>
        <li><a href="">Formation universitaire</a></li>   
        <li><a href="">Formations supplémentaires</a></li>
        <li><a href="">nouveautés des clubs</a></li>       
    </ul>
    <div class="nav-buttons">
        <button>Sign up</button>
        <button>Log in</button>

    </div>
  </nav>
